@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap%27');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0em 2em 0em;
  position: fixed;
  background-color: rgb(255, 255, 255);
  height: 4em;
  width: 100%;
}
.logo {
  font-style: normal;
  color: #333333;
  padding-left: 2em;
  font-size: 2.8rem;
  font-weight: 300;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.red {
  color: #a50e43;
  font-weight: 600;
}

.searchbar {
  margin-right: 4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 2.4em;
  width: 20%;
  border-radius: 25px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
}

.searchbar-input {
  outline: none;
  border: 0px solid;
}

/*! Seller Start here */
.seller-item {
  background-color: salmon;
  width: 300px;
}

.productImg {
  width: 300px;
}

/*! End of seller */
